<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <!--<div class="col-lg-1" style="background-color: orange;">-->
    <!--</div>-->
    <div class="col-lg-4">
      <h1>User info</h1>
       <div>
         <%= image_tag @user.get_profile_image(100, 100) %>
         <table class="table table-striped">
           <thead>
             <tr>
               <th>name</th>
               <th>introduction</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td><%= @user.name %></td>
               <td><%= @user.introduction %></td>
             </tr>
           </tbody>
        </table>
      </div>

         <% if @user != current_user %>
           <p><%= link_to user_path(current_user.id), class: "btn btn-secondary btn-block" do %></p>
             <i class="fa-solid fa-user-gear"></i>
              <% end %>
         <% else %>
           <p><%= link_to edit_user_path(@user.id), class: "btn btn-secondary btn-block" do %></p>
             <i class="fa-solid fa-user-gear"></i>
             <% end %>
        <% end %>



       <h1>New book</h1>
       <% if @bookers.errors.any? %>
         <%= @bookers.errors.count %>errors prohibited this obj from being saved:
         <ul>
           <% @bookers.errors.full_messages.each do |message| %>
             <li><%= message %></li>
           <% end %>
         </ul>
       <% end %>

        <%= form_with model: @bookers do |f| %>
          <h4>Title</h4>
            <%= f.text_field :title %>
          <h4>Opinion</h4>
            <%= f.text_area :body %>
          <%= f.submit 'Create Book' %>
        <% end %>
    </div>
    <div class="col-lg-8">
    <h1>Books</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= image_tag book.user.get_profile_image(100,100) %></td>
            <td><%= link_to book.title, "/books/#{book.id}" %></td>
            <td><%= book.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
