<h1>New book</h1>
<% if @bookers.errors.any? %>
  <%= @bookers.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @bookers.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
  </ul>
<% end %>


  <%= form_with model: @bookers do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>



<h1>Books</h1>
  <% @books.each do |book| %>
  <div>
    <%= link_to image_tag(book.user.get_profile_image(100,100)), user_path(book.user.id)%>
    <b>Title</b>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <b>Opinion<%= book.body %></b>
  </div>
  <% end %>
